.progress-container {
  position: fixed;
  bottom: 10vh; /* Adjust as needed */
  left: 25%; /* Position at 25% of the screen width */
  width: 50%; /* Occupy 50% of the screen width */
  display: flex;
  justify-content: center;
  z-index: 999; /* Ensure the progress bar is above the content */
}

.content {
  position: relative; /* Ensure relative positioning */
  padding-bottom: 200px; /* Adjust the padding to accommodate the progress bar */
}

.progress-circle {
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  border-radius: 50%;
  background: conic-gradient(#4caf50 0%, #4caf50 0%, #1000a4 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0; /* Position the progress bar at the bottom */
  border: 4px solid rgb(255, 255, 255);
}

.progress-percentage {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  .progress-circle {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
  }
}

@media (max-width: 400px) {
  .progress-circle {
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
  }
}
