/* src/App.css */
.App {
    text-align: center;
    /* margi-top: 50px; */
    font-family: Arial, sans-serif;
  
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 50px auto;
  
  }
  
  h1 {
    color: #333;
  }
  
  input[type="range"] {
    margin-top: 20px;
    width: 80%;
  }
  
  .progress-text {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  